<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://java.sun.com/jsf/core"
	  template="/template.xhtml">
	  
	  <ui:define name="conteudo">
	  
	  		<h:form>
	  		
	  			<p:panel header="Relatório por preço">
	  			
	  				<h:panelGrid columns="2">
	  					
	  					<h:outputLabel value="Preço Inicial:"/>
	  					<p:inputText value="#{veiculoRelatorioController.precoInicial}"/>
	  					
	  					
	  					<h:outputLabel value="Preço Final:" />
	  					<p:inputText value="#{veiculoRelatorioController.precoFinal}" />
	  					
	  				</h:panelGrid>
	  			
	  				<p:commandButton value="Visualizar"
	  					 actionListener="#{veiculoRelatorioController.consultar()}"
	  					 update="@form" />
	  					 
	  				<p:commandButton value="PDF"
	  					ajax="false"
	  					actionListener="#{veiculoRelatorioController.pdf()}"/>
	  					 
	  					 
	  				<p:dataTable 
	  					value="#{veiculoRelatorioController.veiculos}"
	  					var="veiculo">
	  					
	  					<p:column headerText="Código">
	  						#{veiculo.idVeiculo}
	  					</p:column>
	  					
	  					<p:column headerText="Placa">
	  						#{veiculo.placa}
	  					</p:column>
	  					
	  					<p:column headerText="Valor">
	  						<h:outputText value="#{veiculo.valor}">
	  							<f:convertNumber type="currency" maxFractionDigits="2" />	
	  						</h:outputText>
	  					</p:column>
	  					
	  					<p:column headerText="Modelo">
	  						#{veiculo.modelo.descricao}
	  					</p:column>
	  					
	  					<p:column headerText="Opcionais">
	  						
	  						<ui:repeat value="#{veiculo.opcionais}" var="op">
	  							#{op.descricao} <br/>
	  						</ui:repeat>
	  						
	  					</p:column>
	  					
	  				
	  				</p:dataTable>
	  			
	  			</p:panel>
	  		
	  		</h:form>
	  
	  </ui:define>
	  
	  
</ui:composition>
