<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	 xmlns:ui="http://java.sun.com/jsf/facelets"
	 template="template.xhtml">
	 
	 
	 <ui:define name="conteudo">
	 
	 	<h1>Bem vind!!!!!</h1>
	 
	 </ui:define>
	 

</ui:composition>
