 <ui:composition xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://java.sun.com/jsf/core"
	  template="/template.xhtml">
	  
	  <ui:define name="conteudo">
	  	
	  	<h:form>
	  		<p:growl/>
	  		
	  		<p:panel header="Informaç~es da Locação">
	  		
	  			<h:panelGrid columns="2">
	  				
	  				<p:outputLabel value="Data de Inicio"/>
	  				<p:calendar value="#{locacaoController.locacao.dataInicio}"  pattern="dd/MM/yyyy"/>
	  			
	  				<p:outputLabel value="Cliente" />
	  				<p:selectOneMenu value="#{locacaoController.locacao.cliente}" converter="#{entityConverter}" filter="true">
	  					
	  					<f:selectItems value="#{locacaoController.todosClientes()}" var="cliente" 
	  																				itemLabel="#{cliente.nome}"
	  																				itemValue="#{cliente}"/>
	  					
	  				</p:selectOneMenu>
	  				
	  			</h:panelGrid>
	  			
	  		</p:panel>
	  		
	  		<br/> <br/>
	  		
	  		<p:panel header="Selecione os veículos">
	  		
	  			<h:panelGrid columns="2">
	  			
  				<p:outputLabel value="Veiculo" />
	  			<p:selectOneMenu value="#{locacaoController.locacaoVeiculo.Veiculo}" converter="#{entityConverter}" filter="true">
	  					
	  					<f:selectItems value="#{VeiculoController.consultar()}" var="Veiculo" 
	  																				itemLabel="#{veiculo.placa} - #{veiculo.modelo.descricao}"
	  																				itemValue="#{veiculo}"/>
	  					
	  				</p:selectOneMenu>
	  				
	  				<p:outputLabel valor="Valor:"/>
	  				<p:inputText value="#{locacaoController.locacaoVeiculo.valor}"/>
	  				
	  				<p:outputLabel value="Qtd. de dias:"/>
  				    <p:inputText value="#{locacaoController.locacaoVeiculo.quantidadedia}" />
	  				
	  				
	  			</h:panelGrid>
	  		</p:panel>
	  		
	  	</h:form>
	  	
	  </ui:define>
	  
	  
	  
</ui:composition>